---
// import FilterIsland from "./FilterIsland.jsx";
import FiltersApp from "./FiltersApp.jsx";
---

<div
    class="bg-neutral-primary-soft rounded-lg w-full h-3/4 m-5 p-5 bg-amber-50"
    style="box-shadow: 0 25px 50px rgba(0,0,0,0.7);"
>
    <h2 class="text-center mb-5 font-serif italic">
        <span class="text-2xl">⚡</span>¿Dónde quiere ir hoy?
    </h2>
    <FiltersApp client:load />
</div>
